/* General */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "TT Hoves", sans-serif;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 256px;
}
.header {
    background-color: #0A9687;
    min-height: 500px;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    color: #F9F9F9;
}
.header_title {
    font-style: 56px;
    font-weight: 600;
    margin-bottom: 30px;
}
.header_text {
    font-style: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 437px;
    margin-bottom: 30px;

}
.header_button {
    width: 194px;
    height: 60px;
    font-style: 16px;
    font-weight: 400;
    border-radius: 25px;
    border: 1px solid var(--3, #F9F9F9);
}
.header_items {
    width: 256px;
    margin-left: 80px;
    padding: 15px 0;
}
.header_items2 {
    width: 70px;
    margin-left: 80px;
    padding: 15px 0;
}
.header_items3 {
    width: 80px;
    margin-left: 80px;
    padding: 27px 0;
}
/* Все услуги */

/* Media */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 400px) {
    .header_title {
        font-style: 36px;
    }
}
